################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/*.pptx
/results.csv
/results0.csv
*.xlsx
/step.py
*.png
/output1.csv
/__pycache__
